/* Show description text beside indicator */
output {
	display: inline-block;
}

#cost-types table tr th:first-child, #cost-types table tr td:first-child {
	padding-left: 20px;
}
#cost-types table tr th:last-child, #cost-types table tr td:last-child {
	vertical-align: middle;
	padding-right: 20px;
}
#cost-types table tr td .form-group {
	margin: 0; /* The Bootstrap margins destroy the table design, but the class is needed for validation */
}

#calculation {
	display: none;
}

#calculation button {
	margin: 15px;
}

#calculation ul {
	padding: 0;
}

#results {
	overflow-x: scroll;
}

#results table {
	white-space: nowrap;
}

#results table tr td:last-child {
	font-weight: bold;
}
#results table tr:last-child td {
	font-weight: bold;
}

#results td {
	text-align: right;
}
#results td:first-child {
	text-align: left;
}

#line-chart canvas {
	width: 100%;
	height: 400px;
	padding: 10px;
}

#pie-chart canvas {
	display: block;
	margin: auto;
	padding: 20px;
	width: 100%;
}

#line-chart .legend ul, #pie-chart .legend ul {
	text-align: center;
}
#line-chart .legend ul li, #pie-chart .legend ul li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
#line-chart .legend ul li span, #pie-chart .legend ul li span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
